@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #000000;
}
nav{
    width: 100%;
    height: 10vw;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo  img{
    margin-left: 10px;
    width: 135px;
    filter: drop-shadow(2px2px2px white);
}
.container .links a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin:0 20px;
    transition: 0.3s linear;
}
.links a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    background-color: rgb(182, 0, 0);
    height: 2.5px;
    transition: 0.3s linear;
    
}
.links a:hover::before,
.links a:hover{
    color: rgb(207, 0, 0);
    width: 100%;
}
.container .search i{
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
}

/*Section Starts*/

section{
    width: 100%;
    height: 60vh;
}
section .content{
   display: flex;
    width: 100%;
   height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.content .main-content{
    color: rgb(255, 255, 255);
    max-width: 600px;
    width: 100%;
    margin-left: 20px;
}
.main-content h1{
    font-size: 2rem;
    border-left: solid 4px rgb(255, 255, 255);
}
.main-content h2{
    color: orange;
    font-size: calc(2rem, 1rem + 5vw, 3.5rem);
    border-left: solid 4px rgb(255, 255, 255);
}
.main-content p{
    margin-top: 20px;
    color: #dadada;
    font-size: 1.8vw;
}
.main-content .order{
    display: flex;
    margin: 20px 10px;
    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
}
.order h3{
    margin-top: 10px;
    font-size: 1.8rem;
}


/*อันนี้ปุ่มที่แต่งเพิ่มเริ่มตั้งแต่ตรงนี้*/
.button1:hover{
    box-shadow: 0 0 10px rgb(168, 168, 168);
    background: linear-gradient(to bottom right,rgb(219, 0, 0), rgb(129, 3, 3) 20%,);
}
.button1{
    display: inline-block;
    color: #ffffff;
    background:linear-gradient(rgb(129, 3, 3) 20%, rgb(219, 0, 0));
    text-decoration: none;
    border-radius: 5px;
    padding: 0.8vw 5vw;
    margin-left: 5px;
    font-size: calc(0.6rem, 1rem 5vw ,3rem);
    transition: 0.1s linear;
    min-width: 30%;
    margin-top: 10px;
    font-weight: 560;
}
/*อันนี้ปุ่มที่แต่งเพิ่มเริ่มตั้งแต่ตรงนี้*/


/*แต่งรูปทั้งหมตรงนี้*/
 .image img{
    min-width: 60px;
    width: 65%;
    margin-top: 50px;
    transform: rotate(0deg);
    filter: drop-shadow(-10px -10px 100px #a57100);
}
.image1 img{
    min-width: 60px;
    width: 55%;
    margin-top: 50px;
    margin-left: 30px;
    transform: rotate(0deg);
    filter: drop-shadow(-10px -10px 100px rgb(1, 168, 214));
}
.image2 img{
    min-width: 60px;
    width: 65%;
    margin-top: 50px;
    margin-left: 30px;
    transform: rotate(0deg);
    filter: drop-shadow(-10px -10px 100px #ffa9a9);
}

/*แต่งรูปทั้งหมตรงนี้*/
.color{
    color: #0073f7;
}
.color1{
    color: rgb(207, 207, 207);
}

/* Breakpoints / Making Responsive */
@media (max-width: 1080px){
    .nav{
        padding: 10px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}

@media (max-width: 360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 280px;
    }
}